body {
    /* background: #007bff; */
    background: linear-gradient(rgba(126, 123, 123,0.8),rgba(122, 120, 120,0.8)),url("../images/background.jpg");
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
    width: 100%;
    
    
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
    width: 100%;
    
  }
  