.main{
    font-family:sans-serif;
  background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../images/background.jpg");
  color:whitesmoke;
}
.container{
    padding-bottom: 20px;
}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;

}
/* ------------------------------------- */
/* nav bar */
.navigation{
    padding: 15px;
}
.navbar{
    background: radial-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    color: white

}

.navbar-nav img{
    margin-top: 10px;
}

.dropdown-menu a:hover{
background-color: rgb(0, 0, 0);
color: white;
}

/* ------------------------------------- */

/* .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
p{
    color:white;
}
#cart{
    transition: font-size 0.5s;
}
#cart:hover{
    font-size: 150%;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
} */


/* .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
} */

.carousel img{
    width: 100%;
    height: 500px;
}
.carousel-control-prev-icon{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -90px;
}
.carousel-control-next-icon{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ------------------------------------ */
/* categories */
.categories{
    background-color:rgb(236, 245, 245);
    padding: 20px;
}

.categories img{
    width:180px; 
    height:180px;
    border-radius: 50%;
}
.categories p{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.categories .column {
    float: left;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  .categories .row::after {
    content: "";
    clear: both;
    display: table;
  }
/* ------------------------------------------- */
/* best buys */

.best_buys{
    background-color:rgb(255, 241, 251);
    padding: 20px;
}

.best_buys .column {
    float: left;
    padding: 20px;
  }
  
  /* Clearfix (clear floats) */
  .best_buys .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* ------------------------------ */
  /* brands */
  /* .small-container{
    max-width: 1080px;
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
} */
  .brands {
    margin-left: 125px;
    padding: 100px;
    text-align: center;
  }
  
  .brands img{
    width: 90%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  .brands img:hover{
    filter: grayscale(0);
  }
  /* ------------------------------------- */
  /* footer */
  .footer{
    background: black;
    color: rgb(156, 156, 156);
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer p{
    color:rgb(156, 156, 156);
  }
  .footer h3{
    color: white;
    margin-bottom: 20px;
  }

  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 220px;
    margin-bottom: 20px;
  }
  .footer-col-1{
    flex-basis: 30%;
  }
  .footer-col-2{
    flex: 30%;
    text-align: center;
  }
  .footer-col-2 img{
    width: 180px;
    margin-top: -30px;
    margin-bottom: 20px;

  }
  .footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
  }
  ul{
    list-style-type:none;
  }
  .app-logo{
    margin-top: 20px;
  }
  .app-logo img{
    width: 140px;
  }
.footer hr{
border: none;
background-color: azure;
height: 1px;
margin: 20px 0;
}
.copyright{
    text-align: center;
}
/* ---------------------------------- */

/*-------------account-page--------------*/


